{% extends "base.html" %}

{% block content %}

<div class="card">
  <div class="card-header"><strong>
    {{ customer.first_name }} {{ customer.last_name }}</strong>
  </div>
  <div class="card-body">
    <h5 class="card-title">Email: </h5>
        <p class="card-text">{{ customer.email }}</p>
    <h5 class="card-title">Phone Number:</h5> 
        <p class="card-text">{{ customer.phone_number }}</p> 
    <h5 class="card-title">Address Information:</h5> 
        <p class="card-text">{{ customer.address }}</p>
        <p class="card-text">{{ customer.city }}, {{ customer.state }} {{ customer.zip_code }}</p>
    <br>        
    <p>Created: {{ customer.created_at }}</p>
    <p>Updated: {{ customer.updated_at }}</p>
  </div>
</div>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary">Back to Customer List</a>
<a href="{% url 'edit_customer' pk=customer.id %}" class="btn btn-primary">Edit Customer</a>
<a href="{% url 'delete_customer' pk=customer.id %}" class="btn btn-danger">Delete Customer</a>


{% endblock %}