{% extends "base.html" %}

{% block content %}
<div class="col-md-6 offset-md-3">  

    {% if user.is_authenticated %}

        <h3>Welcome, {{ user.username }}!</h3><br>
        <h2>CRM Customer List</h2>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Record Id</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for customer in customers %}
                <tr>
                    <td><a href="{% url 'customer' customer.id %}">{{ customer.id }}</a></td>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                {% endfor %}
            </tbody>
        </table>

    {% else %}   

        <h1>Login</h1>
        <br>
        <form method="post" action="{% url 'home' %}">
            {% csrf_token %}
            <form>
            <div class="mb-3">
                <label for="userName" class="form-label">User Name</label>
                <input type="text" class="form-control" id="userName" name="userName", placeholder="User Name", required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password", placeholder="Password", required>
            </div>

            <button type="submit" class="btn btn-secondary">Login</button>
            </form>
        </form>
    {% endif %} 
</div>
{% endblock %}